<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="css/styles.css">

    <script src="https://kit.fontawesome.com/d56106c196.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css"/>
</head>
<body>
    <div class='body-wrapper'>
        <div class="header">
            <div class='smallHeader'>
                <i class="fas fa-bars"></i>
                <form class="search" >
                    <input type="text" placeholder="Search.." name="search">
                </form>
            </div>
            <div class="top-header">
                <figure>
                    <img 
                        class='logo'
                        srcset="./assets/Sedovo 1.png 1x, ./assets/Sedovo 2.png 2x, ./assets/Sedovo 2.png 3x"
                        src="./assets/Sedovo 1.png" 
                    />
                </figure>
                <p class='phone'><a href="tel:123-456-7890">123-456-7890</a></p>
            </div>
    
            <div class="nav">
                <div class='nav-grouping'>
                    <div class='menu'>
                        <a class="active" href="#">Home</a>
                        <a href="#">Cruises</a>
                        <!-- sub links -->
                        <a href="#">Agents</a> 
                        <a href="#">Book</a>
                    </div>
                    
                    <form class="search" >
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <input type="text" placeholder="Search.." name="search">
                    </form>
                </div>
            </div>
        </div>
    
        <div class="body">
            <div class='slider-wrapper'>
                <div class='slider'>
                    <picture>
                        <source media="(min-width:1000px)" srcset="./assets/SlickCruise-1200.jpeg">
                        <source media="(min-width:40px)" srcset="./assets/SlickCruise-350.png">
                        <img style="width:auto; height: 350px">
                    </picture>

                    <picture>
                        <source media="(min-width:1000px)" srcset="./assets/SlickCruise2-1200.jpeg">
                        <source media="(min-width:40px)" srcset="./assets/SlickCruise2-350.png">
                        <img style="width:auto; height: 350px">
                    </picture>

                    <picture>
                        <source media="(min-width:1000px)" srcset="./assets/SlickCruise3-1200.jpeg">
                        <source media="(min-width:40px)" srcset="./assets/SlickCruise3-350.png">
                        <img style="width:auto; height: 350px">
                    </picture>

                    <picture>
                        <source media="(min-width:1000px)" srcset="./assets/SlickCruise4-1200.jpeg">
                        <source media="(min-width:40px)" srcset="./assets/SlickCruise4-350.png">
                        <img style="width:auto; height: 350px">
                    </picture>
                </div>
            </div>

            <div class='blogs'>
                <p>Recent Blog Articles</p>
                <div class='blog-wrapper'>
                    <a class="blog" href="#">
                        <div class="blog-title">What to take</div>
                        <div class="blog-date">May 1, 2018</div>
                    </a>
                    <a class="blog" href="#">
                        <div class="blog-title">Who to bring</div>
                        <div class="blog-date">May 2, 2018</div>
                    </a>
                    <a class="blog" href="#">
                        <div class="blog-title">Urban Vacations</div>
                        <div class="blog-date">May 3, 2018</div>
                    </a>
                    <a class="blog" href="#">
                        <div class="blog-title">Choosing a hotel</div>
                        <div class="blog-date">May 4, 2018</div>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="footer">
            <!-- Schema Data -->
            <div class='contact-info'>
                <div class="contacting">
                    <div>
                        <h3>Contact Us</h3>
                        <a href="https://www.google.com/maps/dir//cruise+shop+lehi/@40.4425572,-111.8983703,14z/data=!3m1!5s0x8752801894f2dc93:0x20c04782184fee4e!4m8!4m7!1m0!1m5!1m1!1s0x875280187c6afb0f:0x6b520938fef23ec3!2m2!1d-111.8792432!2d40.4322472">
                            <p>CABOT CRUIZES1825 W Traverse Pkwy, Lehi, UT 84043</p>
                        </a>
                    </div>


                    <div>
                        <h3>Phone: </h3>
                        <p class='phone'><a href="tel:123-456-7890">123-456-7890</a></p>
                    </div>


                    <div>
                        <h3>Hours of OperaMon: </h3>
                        <p>Monday – Friday 9am – 4pm</p>
                    </div>

                </div>
                <div class="news-letter">
                    <h3>News Letter</h3>
                    <p>Subscribe to our email list and stay up-to-date with our
                        ho6est offers and latest specials.
                    </p>
                    
                    <input type="search" placeholder="Email..">
                    <button>Subscribe</button>
                </div>
                <div class="info">
                    <h3>Why cabot cruises</h3>
                    <p>Cabot Cruises is a travel agency providing the best cruise
                        deals on our online travel website. We can help you with all
                        inclusive vacaMons including discounted cruises.
                    </p>
                    <p>
                        We do not sell travel to residents of Delaware, Iowa,
                        Florida, Hawaii and Washington state because those states
                        are just wierd. If you are a resident of one of these states,
                        call your congressman and tell them to change the
                        regulaMons.
                    </p>
                </div>
            </div>
            <div class='social'>
                <a href="facebook.com">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="youtube.com">                    
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="pinterest.com">
                    <i class="fab fa-pinterest"></i>
                </a>
                <a href="twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <p>© 2022 Abigail Thelin • Your URL</p>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>

    <script type="text/javascript">
        function initSlider(){
                $('.slider').slick({
                    dots: true,
                    infinite: true,
                    speed: 9000,
                    slidesToShow: 1,
                    autoplay: true,
                });
            }

        $(document).ready(function() {
            initSlider();
        });
      </script>
</body>
</html>