

nav {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	transition: background .2s linear;
	border: red solid 1px;
	button {
		display: inline;
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;
		width: 50px;
		z-index: 999;
		text-align: right;
		cursor: pointer;
		background: transparent;
		border: none;
		font-size: 2rem;
		color: #333;
		border: none;
	} // end buttons
	
    ul { 
		position: absolute;	
		right: 0;
		top: 0px;
		margin:0; 
		padding: 50px 0 0 0;
		width: 0px;
		height: 100vh;
		background-color:#efefef;
		list-style-type: none;
		transition: width .2s linear;
	} // end ul

    
    ul li a {
        display: block;
        text-align: left;
        padding: .9rem 2vw;
        color: rgba(0,0,0,0.8);
        text-decoration: none;  
    } // end of anchors
    
	 
	 ul li.active a {
        background-color: darken(#efefef, 8%);
    } // end of active
	
	ul li a:hover{background-color: darken(#efefef, 4%);}
	
} // end nav

.open {
	background-color: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
	ul{
		width: 250px;
		display: flex;
		flex-direction: column;
	}
}





// /* MAIN  */
// main {
//  	p {padding: .5rem 2vw;}
// 	h1 {padding: .5rem 2vw; font-size: 2rem; color: #254bd7;}
// } // end main



// /* FOOTER  */
// footer {
// 	background-color: black; 
// 	padding: 1rem 0;
// 	color: #eee;
// 	text-align: center;
// 	a{color: #eee;}
// }
